<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Read_Write_File/src/com/snapfish/thread/mainclass/ReadWriteApp.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.snapfish.thread.mainclass.ReadWriteApp"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Read_Write_File"/>
</launchConfiguration>
